body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgb(231, 122, 122); /* Set the background color of the website */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center the content vertically */
}

#login-screen {
    background-color: gray; /* Set the background color of the login box */
    padding: 20px;
    border: 2px solid black;
    text-align: center;
    max-width: 400px; /* Adjust the width of the login box as needed */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
    margin-top: -100px; /* Adjust this value to vertically center the login box */
}

#username-label{
    color: black;
    font-size: 16px;
    font-weight: bold;
}

#username {
    width: 100%;
    padding: 10px 0px; /* Add padding to the username text field */
    border: 2px solid black; /* Add a black border around the username text field */
}

#start-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: green;
    border: 2px solid black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

#board {
    display: none;
    border: 2px solid black;
    margin-top: 20px; /* Add margin to push the game board down */
}

#game-over-screen {
    display: none;
    margin: 20px;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
